<footer>
    <div class="footer-item">
        <h2>Produtos</h2>

        <ul>
            <li>Rações</li>
            <li>Acessórios</li>
            <li>Coleiras</li>
        </ul>
    </div>
    <div class="footer-item">
        <h2>Pets</h2>

        <ul>
            <li>Rações</li>
            <li>Acessórios</li>
            <li>Coleiras</li>
        </ul>
    </div>
    <div class="footer-item">
        <h2>Contato</h2>

        <ul>
            <li>Rações</li>
            <li>Acessórios</li>
            <li>Coleiras</li>
        </ul>
    </div>
    <div class="footer-item">
        <h2>Sedes</h2>
        <div class="images">
            <img src="/images/predio.png" alt="">

        </div>
    </div>
    
    

</footer>