<%- include('./partials/header') %>
<main class="produtos">

    <div class="filtros">
        <h3>Filtros</h3>
    </div>
    <table>
        <tr>
            <td>
                <div class="card-prod">
                    <img src="./images/doguinho.png" alt="">
                    <hr>
                    <h3 class="desc">raça do pet</h3>
                    <p class="info">Características</p>
                </div>
            </td>
            <td>
                <div class="card-prod">
                    <img src="./images/doguinho.png" alt="">
                    <hr>
                    <h3 class="desc">raça do pet</h3>
                    <p class="info">Características</p>
                </div>
            </td>
            <td>
                <div class="card-prod">
                    <img src="./images/doguinho.png" alt="">
                    <hr>
                    <h3 class="desc">raça do pet</h3>
                    <p class="info">Características</p>
                </div>
            </td>
            <td>
                <div class="card-prod">
                    <img src="./images/doguinho.png" alt="">
                    <hr>
                    <h3 class="desc">raça do pet</h3>
                    <p class="info">Características</p>
                </div>
            </td>
            <td>
                <div class="card-prod">
                    <img src="./images/doguinho.png" alt="">
                    <hr>
                    <h3 class="desc">raça do pet</h3>
                    <p class="info">Características</p>
                </div>
            </td>
            <td>
                <div class="card-prod">
                    <img src="./images/doguinho.png" alt="">
                    <hr>
                    <h3 class="desc">raça do pet</h3>
                    <p class="info">Características</p>
                </div>
            </td>
            
        </tr>
        <tr>
            <td>
                <div class="card-prod">
                    <img src="./images/doguinho.png" alt="">
                    <hr>
                    <h3 class="desc">raça do pet</h3>
                    <p class="info">Características</p>
                </div>
            </td>
            <td>
                <div class="card-prod">
                    <img src="./images/doguinho.png" alt="">
                    <hr>
                    <h3 class="desc">raça do pet</h3>
                    <p class="info">Características</p>
                </div>
            </td>
            <td>
                <div class="card-prod">
                    <img src="./images/doguinho.png" alt="">
                    <hr>
                    <h3 class="desc">raça do pet</h3>
                    <p class="info">Características</p>
                </div>
            </td>
            <td>
                <div class="card-prod">
                    <img src="./images/doguinho.png" alt="">
                    <hr>
                    <h3 class="desc">raça do pet</h3>
                    <p class="info">Características</p>
                </div>
            </td>
            <td>
                <div class="card-prod">
                    <img src="./images/doguinho.png" alt="">
                    <hr>
                    <h3 class="desc">raça do pet</h3>
                    <p class="info">Características</p>
                </div>
            </td>
            <td>
                <div class="card-prod">
                    <img src="./images/doguinho.png" alt="">
                    <hr>
                    <h3 class="desc">raça do pet</h3>
                    <p class="info">Características</p>
                </div>
            </td>
            
        </tr>
        <tr>
            <td>
                <div class="card-prod">
                    <img src="./images/doguinho.png" alt="">
                    <hr>
                    <h3 class="desc">raça do pet</h3>
                    <p class="info">Características</p>
                </div>
            </td>
            <td>
                <div class="card-prod">
                    <img src="./images/doguinho.png" alt="">
                    <hr>
                    <h3 class="desc">raça do pet</h3>
                    <p class="info">Características</p>
                </div>
            </td>
            <td>
                <div class="card-prod">
                    <img src="./images/doguinho.png" alt="">
                    <hr>
                    <h3 class="desc">raça do pet</h3>
                    <p class="info">Características</p>
                </div>
            </td>
            <td>
                <div class="card-prod">
                    <img src="./images/doguinho.png" alt="">
                    <hr>
                    <h3 class="desc">raça do pet</h3>
                    <p class="info">Características</p>
                </div>
            </td>
            <td>
                <div class="card-prod">
                    <img src="./images/doguinho.png" alt="">
                    <hr>
                    <h3 class="desc">raça do pet</h3>
                    <p class="info">Características</p>
                </div>
            </td>
            <td>
                <div class="card-prod">
                    <img src="./images/doguinho.png" alt="">
                    <hr>
                    <h3 class="desc">raça do pet</h3>
                    <p class="info">Características</p>
                </div>
            </td>
            
        </tr>
        <tr>
            <td>
                <div class="card-prod">
                    <img src="./images/doguinho.png" alt="">
                    <hr>
                    <h3 class="desc">raça do pet</h3>
                    <p class="info">Características</p>
                </div>
            </td>
            <td>
                <div class="card-prod">
                    <img src="./images/doguinho.png" alt="">
                    <hr>
                    <h3 class="desc">raça do pet</h3>
                    <p class="info">Características</p>
                </div>
            </td>
            <td>
                <div class="card-prod">
                    <img src="./images/doguinho.png" alt="">
                    <hr>
                    <h3 class="desc">raça do pet</h3>
                    <p class="info">Características</p>
                </div>
            </td>
            <td>
                <div class="card-prod">
                    <img src="./images/doguinho.png" alt="">
                    <hr>
                    <h3 class="desc">raça do pet</h3>
                    <p class="info">Características</p>
                </div>
            </td>
            <td>
                <div class="card-prod">
                    <img src="./images/doguinho.png" alt="">
                    <hr>
                    <h3 class="desc">raça do pet</h3>
                    <p class="info">Características</p>
                </div>
            </td>
            <td>
                <div class="card-prod">
                    <img src="./images/doguinho.png" alt="">
                    <hr>
                    <h3 class="desc">raça do pet</h3>
                    <p class="info">Características</p>
                </div>
            </td>
            
        </tr>
        <tr>
            <td>
                <div class="card-prod">
                    <img src="./images/doguinho.png" alt="">
                    <hr>
                    <h3 class="desc">raça do pet</h3>
                    <p class="info">Características</p>
                </div>
            </td>
            <td>
                <div class="card-prod">
                    <img src="./images/doguinho.png" alt="">
                    <hr>
                    <h3 class="desc">raça do pet</h3>
                    <p class="info">Características</p>
                </div>
            </td>
            <td>
                <div class="card-prod">
                    <img src="./images/doguinho.png" alt="">
                    <hr>
                    <h3 class="desc">raça do pet</h3>
                    <p class="info">Características</p>
                </div>
            </td>
            <td>
                <div class="card-prod">
                    <img src="./images/doguinho.png" alt="">
                    <hr>
                    <h3 class="desc">raça do pet</h3>
                    <p class="info">Características</p>
                </div>
            </td>
            <td>
                <div class="card-prod">
                    <img src="./images/doguinho.png" alt="">
                    <hr>
                    <h3 class="desc">raça do pet</h3>
                    <p class="info">Características</p>
                </div>
            </td>
            <td>
                <div class="card-prod">
                    <img src="./images/doguinho.png" alt="">
                    <hr>
                    <h3 class="desc">raça do pet</h3>
                    <p class="info">Características</p>
                </div>
            </td>
            
        </tr>
        <tr>
            <td>
                <div class="card-prod">
                    <img src="./images/doguinho.png" alt="">
                    <hr>
                    <h3 class="desc">raça do pet</h3>
                    <p class="info">Características</p>
                </div>
            </td>
            <td>
                <div class="card-prod">
                    <img src="./images/doguinho.png" alt="">
                    <hr>
                    <h3 class="desc">raça do pet</h3>
                    <p class="info">Características</p>
                </div>
            </td>
            <td>
                <div class="card-prod">
                    <img src="./images/doguinho.png" alt="">
                    <hr>
                    <h3 class="desc">raça do pet</h3>
                    <p class="info">Características</p>
                </div>
            </td>
            <td>
                <div class="card-prod">
                    <img src="./images/doguinho.png" alt="">
                    <hr>
                    <h3 class="desc">raça do pet</h3>
                    <p class="info">Características</p>
                </div>
            </td>
            <td>
                <div class="card-prod">
                    <img src="./images/doguinho.png" alt="">
                    <hr>
                    <h3 class="desc">raça do pet</h3>
                    <p class="info">Características</p>
                </div>
            </td>
            <td>
                <div class="card-prod">
                    <img src="./images/doguinho.png" alt="">
                    <hr>
                    <h3 class="desc">raça do pet</h3>
                    <p class="info">Características</p>
                </div>
            </td>
            
        </tr>
        <tr>
            <td>
                <div class="card-prod">
                    <img src="./images/doguinho.png" alt="">
                    <hr>
                    <h3 class="desc">raça do pet</h3>
                    <p class="info">Características</p>
                </div>
            </td>
            <td>
                <div class="card-prod">
                    <img src="./images/doguinho.png" alt="">
                    <hr>
                    <h3 class="desc">raça do pet</h3>
                    <p class="info">Características</p>
                </div>
            </td>
            <td>
                <div class="card-prod">
                    <img src="./images/doguinho.png" alt="">
                    <hr>
                    <h3 class="desc">raça do pet</h3>
                    <p class="info">Características</p>
                </div>
            </td>
            <td>
                <div class="card-prod">
                    <img src="./images/doguinho.png" alt="">
                    <hr>
                    <h3 class="desc">raça do pet</h3>
                    <p class="info">Características</p>
                </div>
            </td>
            <td>
                <div class="card-prod">
                    <img src="./images/doguinho.png" alt="">
                    <hr>
                    <h3 class="desc">raça do pet</h3>
                    <p class="info">Características</p>
                </div>
            </td>
            <td>
                <div class="card-prod">
                    <img src="./images/doguinho.png" alt="">
                    <hr>
                    <h3 class="desc">raça do pet</h3>
                    <p class="info">Características</p>
                </div>
            </td>
            
        </tr>
        <tr>
            <td>
                <div class="card-prod">
                    <img src="./images/doguinho.png" alt="">
                    <hr>
                    <h3 class="desc">raça do pet</h3>
                    <p class="info">Características</p>
                </div>
            </td>
            <td>
                <div class="card-prod">
                    <img src="./images/doguinho.png" alt="">
                    <hr>
                    <h3 class="desc">raça do pet</h3>
                    <p class="info">Características</p>
                </div>
            </td>
            <td>
                <div class="card-prod">
                    <img src="./images/doguinho.png" alt="">
                    <hr>
                    <h3 class="desc">raça do pet</h3>
                    <p class="info">Características</p>
                </div>
            </td>
            <td>
                <div class="card-prod">
                    <img src="./images/doguinho.png" alt="">
                    <hr>
                    <h3 class="desc">raça do pet</h3>
                    <p class="info">Características</p>
                </div>
            </td>
            <td>
                <div class="card-prod">
                    <img src="./images/doguinho.png" alt="">
                    <hr>
                    <h3 class="desc">raça do pet</h3>
                    <p class="info">Características</p>
                </div>
            </td>
            <td>
                <div class="card-prod">
                    <img src="./images/doguinho.png" alt="">
                    <hr>
                    <h3 class="desc">raça do pet</h3>
                    <p class="info">Características</p>
                </div>
            </td>
            
        </tr>
      
        
        
    </table>
    
</main>


<%- include('./partials/footer') %>
</body>
</html>